.trends > h3 {
  color: lightgray;
  margin-left: 10px;
  margin-bottom: 4px;
}

.app__body {
  display: grid;
  color: #fff;
  grid-gap: 5px;
  position: sticky;
  grid-template-columns: 250px 1fr 250px;
}

.center {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 130px 400px;
}

.top__center {
  display: grid;
  grid-template-rows: 70px 50px;
  position: sticky;
  overflow: hidden;
}

.trends {
  position: sticky;
  overflow: hidden;
}

.widgets {
  position: sticky;
  overflow: hidden;
}

.main {
  overflow-y: auto;
  margin-bottom: 30px;
}

.main::-webkit-scrollbar {
  width: 15px;
}

.search__input {
  display: flex;
  height: 30px;
  padding: 10px 20px;
  border-radius: 11px;
  width: 53vw;
  border: 1px solid #30363d;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: transparent;
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  margin-top: 3px;
  border: none;
  color: #323d4d;
  font-size: 20px;
  background-color: transparent;
}

::placeholder {
  color: #323d4d;
  font-size: 20px;
}

.search__input > input:focus {
  outline-width: 0;
}

.btn__askQuestion {
  display: flex;
  height: 40px;
  width: 150px;
  color: lightgray;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 11px;
  border: 1px solid var(--border-color);
  margin-top: 10px;
  margin-left: 30px;
  background-color: transparent;
  justify-content: center;
  font-size: 15px;
}

@media (max-width: 900px) {
  .app__body {
    grid-template-columns: 1fr;
  }
  .trends {
    display: none;
  }
  .widgets {
    display: none;
  }
}
