/* Variables */
:root {
  --input-size: 450px;
  --border-color: #30363d;
  --bg-color: #161b22;
  --txt-color: lightgray;
}

/* Grobals for The Page */
.register-layout {
  display: grid;
  grid-template-columns: 600px 1fr;
}

.banner {
  display: grid;
  grid-template-rows: 230px 1fr;
}

/* Logo Text: Neox */
.logo__register {
  display: grid;
  grid-template-columns: 120px 1fr;
}

.logo__register > h1 {
  color: var(--txt-color);
  font-size: 100px;
  margin-top: 100px;
}
.logo__register > img {
  color: var(--txt-color);
  font-size: 100px;
  margin-top: 105px;
}

.logo-text:hover {
  color: rgba(211, 211, 211, 0.342);
  cursor: pointer;
}

/* Logo Image: logo for the app */
.logo-img {
  width: 100px;
  height: 100px;
  border: 5px solid #161b22;
  border-radius: 50%;
}

/* Sign In Card */
.card {
  height: 410px;
  padding: 10px 20px;
  border-radius: 15px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  margin-top: 100px;
  background: linear-gradient(253.65deg, var(--bg-color) 2.65%, rgba(66, 66, 66, 0) 99.37%);
}

.list {
  color: rgb(197, 85, 85);
  list-style: square;
}

.header {
  color: rgb(197, 85, 85);
}

.card > .card-content > h2 {
  margin-left: 115px;
  color: #fff;
}

.card > .card-content > input {
  margin-left: 100px !important;
}

.card-content {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.about__neox__text {
  color: var(--txt-color);
  font-size: 30px;
  margin-left: 20px;
}

.el__input_register {
  display: flex;
  height: 30px;
  width: var(--input-size);
  padding: 10px 20px;
  border-radius: 11px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: transparent;
}

.el__input_register > input {
  flex: 1;
  padding: 10px 20px;
  margin-top: 3px;
  border: none;
  color: #323d4d;
  font-size: 20px;
  background-color: transparent;
}

::placeholder {
  color: #323d4d;
  font-size: 20px;
}

.el__input_register > input:focus {
  outline-width: 0;
  background: transparent !important;
}

.el__btn_register {
  display: flex;
  height: 40px;
  width: 100px;
  color: lightgray;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 11px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: transparent;
}

/* Footer */
.footer__banner {
  display: grid;
  grid-template-columns: 40px 40px 40px 150px 1fr;
}

.footer__banner > a {
  color: lightgray;
}

.footer__banner > a > h4 {
  margin-top: 3px;
  color: lightgray;
}

/* Media Queries */
@media (max-width: 900px) {
  .banner {
    display: none;
  }
  .register-layout {
    display: grid;
    grid-template-columns: 1fr;
  }
}
