.discussions-layout {
  margin-top: 40px;
  margin-left: 20px;
}

.discussions-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #d3d3d3;
}

.discussions-header > button {
  background-color: var(--secondary-bg-color);
  border: none;
  outline: none;
  padding: 10px;
  width: 130px;
  border-radius: 10px;
  box-shadow: var(--paper-shadow);
  color: #d3d3d3;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}

.discussions-header {
  margin-bottom: 40px;
}

.discussions-header > h2 {
  color: #d3d3d3;
  font-size: 30px;
  margin-top: 10px;
}

/* Card */

.discussion-card {
  background-color: var(--secondary-bg-color);
  padding: 10px 20px;
  width: 60%;
  border-radius: 5px;
  box-shadow: var(--secondary-paper-shadow);
  margin-top: 20px;
  padding-right: 15px;
  overflow: hidden;
}

.discussion-card-header > h2 {
  color: #d3d3d3;
  font-size: 30px;
}

.discussion-id {
  color: #d3d3d348;
  font-size: 30px;
}

.discussion-card-status {
  display: flex;
}

.discussion-card-status > * {
  margin: 5px;
}

.status-button {
  display: flex;
  background-color: #008000;
  width: 90px;
  height: 33px;
  outline: none;
  border: none;
  color: #d3d3d3;
  font-size: 18px;
  border-radius: 999px;
}

.status-button > .MuiSvgIcon-root {
  margin-left: 3px;
}

.status-button > button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #d3d3d3;
  font-size: 18px;
  border-radius: 999px;
}

.discussion-card-status > .discussed-people {
  background-color: transparent;
  border: 1px solid var(--primary-border-color);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 999px;
  color: #d3d3d394;
}

.discussion-username {
  color: #d3d3d3;
  margin-right: 5px;
}

.discussion-card-status > h3 {
  color: #d3d3d394;
}

.discussion-card-content {
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.discussion-card-content > .MuiAvatar-root {
  margin-top: 10px;
  width: 45px;
  height: 45px;
  border: 3px solid #f50057;
  background-color: transparent;
}

.discussion-card-content > * {
  margin: 5px;
}

.discussion-card-main-content {
  display: flex;
  flex-direction: column;
}

.discussion-card-content-info > h3 {
  color: #d3d3d394;
}

.discussion-card-center > p {
  color: #d3d3d3;
  font-size: 18px;
}

.cardReplies-header {
  display: flex;
}

.cardReplies-header > * {
  margin-right: 5px;
}

.cardReplies-header > h3 {
  color: #d3d3d3;
}

.MuiTimelineItem-missingOppositeContent:before {
  flex: 0 !important;
  content: none !important;
  padding: 0px !important;
}

.reply__input {
  height: 27px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 53vw;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.reply__input > input {
  border: none;
  color: #323d4d;
  width: 500px;
  font-size: 16px;
  background-color: transparent;
}

.reply-section {
  display: flex;
  flex-direction: column;
}

.MuiTimelineDot-root > .MuiAvatar-root {
  background: linear-gradient(
    90deg,
    rgba(245, 0, 87, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
}

.discussed__low {
  display: none;
}

/* Media Quaries */

@media (max-width: 1000px) {
  .discussion-card {
    width: 90%;
  }
  .reply__input {
    width: 75vw;
  }
}

@media only screen and (max-width: 665px) {
  .discussion-card-status > h3 {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .discussions-layout {
    margin-left: 0;
  }

  .discussions-header > h2 {
    display: none;
  }

  .discussions-header > div {
    flex: 0;
  }

  .discussions-header > button {
    margin-left: 0;
  }

  .discussed__high {
    display: none;
  }

  .discussed__low {
    display: inline-block;
  }

  .discussion-card-content {
    padding: 2px;
  }
}
