.issue-finds-layout {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.header-finds {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #d3d3d3;
}

.header-finds > h2 {
  margin-top: 10px;
}

.btn_publish {
  background-color: var(--secondary-bg-color);
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 120px;
  border-radius: 10px;
  box-shadow: var(--deep-paper-shadow);
  color: #d3d3d3;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}

.content-finds {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  margin-left: 30px;
  margin-right: 30px;
  grid-gap: 10px;
  margin-top: 50px;
  min-height: 400px;
}

/* Cards */
.discovery-card {
  background-color: var(--secondary-bg-color);
  padding: 10px 20px;
  border-radius: 11px;
  box-shadow: var(--deep-paper-shadow);
  height: 290px;
  width: 250px;
  display: grid;
  grid-template-rows: 70px 1fr 60px;
  color: #d3d3d3;
  overflow: hidden;
}

.discovery-card-header {
  display: grid;
  grid-template-columns: 70px 1fr;
}

.user-details-card-header > h2 {
  text-transform: capitalize;
  font-size: 24px;
}

.user-details-card-header > h3 {
  font-size: 15px;
}

.discovery-card-content {
  padding: 10px;
}

.discovery-card-content > p {
  color: #d3d3d3;
  font-size: 16px;
}

.MuiAvatar-root {
  margin: 5px;
}

.discovery-card-footer {
  display: flex;
  flex-direction: row;
}

.discovery-card-footer > span {
  margin: 10px;
  background-color: var(--primary-border-color);
  height: 20px;
  padding: 7px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.discovery-card-header > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  border: 3px solid #f50057;
  background-color: transparent;
}

.no-issues {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #d3d3d3;
  font-style: italic;
}

/* Media Queries */

@media (max-width: 1050px) {
  .content-finds {
    grid-template-columns: repeat(2, 330px);
  }
}

@media (max-width: 690px) {
  .content-finds {
    grid-template-columns: repeat(2, 300px);
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .content-finds {
    grid-template-columns: repeat(1, 300px);
    margin-left: 0px;
  }
}

@media only screen and (max-width: 414px) {
  .discovery-card {
    width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .discovery-card {
    width: 310px;
  }
}

@media (max-width: 360px) {
  .header-finds {
    display: grid;
    grid-template-columns: 100px;
    color: #d3d3d3;
  }

  .header-finds > h2 {
    display: none;
  }

  .content-finds {
    grid-template-columns: repeat(1, 1fr);
  }

  .discovery-card {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .content-finds {
    margin-right: 0;
  }
  .discovery-card {
    width: 260px;
  }
}
