.page__question_answer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.question_on_answer_page {
  display: grid;
  grid-template-columns: 110px 1fr;
}

.question_on_answer_page > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.question_on_answer_content {
  color: lightgray;
}

.question_text > p {
  font-size: 20px !important;
  width: 70%;
}
