p {
  margin: 0;
}

.create__team__info {
  color: lightgray;
  text-align: center;
}

.create__team__info > h1 {
  margin-top: 20px;
  font-size: 60px;
}

.create__team__info > p {
  font-size: 45px;
  color: lightgray;
}

.team__input {
  display: flex;
  height: 30px;
  width: 60%;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: transparent;
}

.team__input > input {
  flex: 1;
  padding: 10px 20px;
  margin-top: 3px;
  border: none;
  color: #323d4d;
  font-size: 20px;
  background-color: transparent;
}

::placeholder {
  color: #323d4d;
  font-size: 20px;
}

.team__input > input:focus {
  outline-width: 0;
  background: transparent !important;
}

.button {
  display: flex;
  height: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: #161b22;
  box-shadow: var(--deep-paper-shadow);
  justify-content: center;
  align-items: center;
}

.button > button {
  cursor: pointer;
  outline: none;
  color: #fff;
  flex: 1;
  border: none;
  font-size: 20px;
  background-color: #161b22;
}

.circle1,
.circle3,
.circle2 {
  background: white;
  background: linear-gradient(
    140.73deg,
    rgba(66, 66, 66, 0.19) 12.91%,
    rgba(92, 103, 100, 0) 75.21%
  );
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  left: 20%;
}

.circle2 {
  bottom: 0%;
  left: 4%;
}

.circle3 {
  bottom: 0%;
  left: 70%;
}

.did_you_know {
  display: flex;
  color: #d3d3d3;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 10px 20px;
  border-radius: 10px;
  width: 210px;
  margin: 0;
}

.paper-content {
  display: grid;
  grid-template-rows: 50px 1fr;
}

/* Media Queries */

@media (max-width: 900px) {
  .team__input {
    width: 95%;
  }
}

@media (max-width: 730px) {
  .create__team__info > h1 {
    margin-top: 20px;
    font-size: 50px;
  }

  .create__team__info > p {
    font-size: 30px;
    color: lightgray;
  }
}

@media (max-width: 600px) {
  .circle1,
  .circle3,
  .circle2 {
    display: none;
  }

  .team__input {
    border-radius: 6px;
    padding-right: 10px;
  }

  .did_you_know {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .create__team__info > h1 {
    margin-top: 20px;
    font-size: 40px;
  }

  .create__team__info > p {
    font-size: 25px;
    color: lightgray;
  }
}

@media (max-width: 330px) {
  .create__team__info > h1 {
    margin-top: 20px;
    font-size: 30px;
  }

  .create__team__info > p {
    font-size: 20px;
    color: lightgray;
  }
}

@media only screen and (max-width: 320px) {
  .team__input {
    width: 97%;
    padding-right: 0;
  }

  .team__input > .MuiSvgIcon-root {
    display: none;
  }

  .team__input > input {
    margin-left: 0;
  }
}

.next__button_create_team {
  background-color: #323d4d;
  color: #d3d3d3;
  padding: 10px;
  font-size: 17px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 6px;
  text-align: center;
  width: 100px;
  box-shadow: var(--deep-paper-shadow);
  margin-bottom: 10px;
}

.learn__more__button {
  background-color: #323d4d;
  color: #d3d3d3;
  padding: 10px;
  font-size: 17px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 6px;
  text-align: center;
  box-shadow: var(--deep-paper-shadow);
}

.first__page__create_team {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading__first_page {
  color: #d3d3d3;
  font-size: 30px;
}

.heading__first_page > h2 > span {
  color: #f50057;
  font-size: 50px;
}

.first_page_content {
  font-size: 20px;
}

.intro__to__neox {
  padding-top: 20px;
  padding-bottom: 40px;
}

.intro__to__neox > h3 {
  color: #f50057;
  font-size: 25px;
  padding-bottom: 10px;
}

.how_it_works > h3 {
  color: #f50057;
  font-size: 25px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 280px) {
  .team__input {
    width: 100%;
    padding-right: 0;
  }

  .team__input > .MuiSvgIcon-root {
    display: none;
  }

  .team__input > input {
    margin-left: 0;
  }
}
