@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
/* Grobal variables */

:root {
  --primary-color: #0d1117;
  --primary-text-color: #be7272;
  --secondary-bg-color: #161b22;
  --primary-border-color: #30363d;
  --paper-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --secondary-paper-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  --deep-paper-shadow: 0px 5px 5px -2px rgb(0 0 0 / 20%),
    0px 3px 4px -2px rgb(0 0 0 / 14%), 0px 1px 8px -2px rgb(0 0 0 / 18%);
}

.MuiTab-wrapper {
  color: #d3d3d3;
  font-size: 16px;
}

* {
  font-family: Calibri;
}

input:focus-visible {
  outline: none;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  border: 1px solid var(--primary-border-color);
}

.viewteam_layout {
  display: grid;
  height: 88vh;
  width: 99vw;
  position: fixed;
  grid-template-columns: 90px 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

.titlebar__header {
  grid-column: 3;
  grid-row: 1;
  margin-left: 30px;
}

.titlebar__header > * {
  color: #b2bdcd;
}

.titlebar__header__content {
  display: flex;
}

.titlebar__header__content > .members-btn {
  display: flex;
  justify-content: flex-end;
  flex: 1 1;
  margin-right: 50px;
}

#root > div > div.viewteam_layout > div.titlebar__header > div > div > div {
  width: 64px;
  height: 25px;
  background-color: transparent;
  border: 1px solid var(--primary-border-color);
}

textarea {
  font-size: 20px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #323d4d;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
