.card__addChannel {
  height: 240px;
  padding: 10px 20px;
  border-radius: 12px;
  width: 500px;
  outline: none;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 100px;
  background-color: #161b22;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.card__addChannel {
  display: grid;
  grid-template-rows: 60px 100px 100px;
}

.cardHeader__addChannel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardHeader__addChannel > h1 {
  color: lightgray;
}

.input__addChannel {
  display: flex;
  height: 30px;
  width: var(--input-size);
  padding: 10px 20px;
  border-radius: 11px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: transparent;
}

.input__addChannel > input {
  flex: 1;
  padding: 10px 20px;
  margin-top: 3px;
  border: none;
  color: #323d4d;
  font-size: 20px;
  background-color: transparent;
}

::placeholder {
  color: #323d4d;
  font-size: 20px;
}

.input__addChannel > input:focus {
  outline-width: 0;
  background: transparent !important;
}

.btn__addChannel {
  display: flex;
  height: 40px;
  width: 150px;
  color: lightgray;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 11px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: transparent;
  justify-content: center;
  font-size: 15px;
}

.buttons__AddChannel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
