.channel__wrapper {
  grid-column: 2;
  grid-row: 1 / 4;
  background: linear-gradient(
    353.9deg,
    #161b22 -35.54%,
    rgba(66, 66, 66, 0) 99.04%
  );
  display: flex;
}

.channelList__container {
  display: flex;
  flex-direction: column;
}

.image-channel {
  z-index: 2;
  margin-top: 2px;
}

.team_name_header {
  color: #dee3ea;
  display: flex;
  text-transform: uppercase;
  overflow: hidden;
}

.team_name_header > span {
  display: flex;
  justify-content: flex-end;
  flex: 1 1;
  align-items: center;
}

.sidebar_list {
  width: 100%;
  list-style: none;
  padding-left: 0px;
}

.sidebar_list_item {
  padding: 2px;
  padding-left: 10px;
  color: #5d7290;
}

.sidebar_list_item > a {
  color: #5d7290;
}

.sidebar_list_header {
  display: grid;
  grid-template-columns: 120px 1fr;
  padding-left: 10px;
  font-size: 25px;
  color: #dee3ea;
}

.sidebar_list_header > .MuiSvgIcon-root {
  cursor: pointer;
}

.green {
  color: #38978d !important;
}

.push_left {
  padding-left: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.channelsList__flex {
  display: flex;
  flex: 0.8;
  flex-direction: column;
}

.team__settings {
  display: flex;
  flex: 0.17;
  background-color: #26282c;
  width: 215px;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0px 10px 0px 0px;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  padding-top: 13px;
}

.inviteStuff {
  padding: 13px;
}

.inviteStuff > * {
  margin: 3px;
}

.inviteStuff > .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
}

.userInfo_settings {
  color: #d3d3d3;
  padding-left: 4px;
}

.userInfo_settings > p {
  color: #d3d3d3;
}

.userInfo_settings > h4 {
  text-transform: capitalize;
}

.profileInfo > .MuiAvatar-root {
  border: 3px solid #f50057;
  background-color: transparent;
}

.link {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .channel__wrapper {
    display: none;
  }
}
