p {
  margin: 0;
}

.create__team__info {
  color: lightgray;
  text-align: center;
}

.create__team__info > h1 {
  margin-top: 20px;
  font-size: 60px;
}

.create__team__info > p {
  font-size: 45px;
  color: lightgray;
}

.team__input {
  display: flex;
  height: 30px;
  width: 55%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: transparent;
}

.team__input > input {
  flex: 1;
  padding: 10px 20px;
  margin-top: 3px;
  border: none;
  color: #323d4d;
  font-size: 20px;
  background-color: transparent;
}

::placeholder {
  color: #323d4d;
  font-size: 20px;
}

.team__input > input:focus {
  outline-width: 0;
  background: transparent !important;
}

.button {
  display: flex;
  height: 30px;
  padding: 10px 20px;
  border-radius: 23px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: #323d4d;
}

.button > button {
  cursor: pointer;
  outline: none;
  color: #fff;
  flex: 1;
  border: none;
  font-size: 20px;
  background-color: #323d4d;
}

.circle1,
.circle3,
.circle2 {
  background: white;
  background: linear-gradient(140.73deg, rgba(66, 66, 66, 0.19) 12.91%, rgba(92, 103, 100, 0) 75.21%);
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  left: 20%;
}

.circle2 {
  bottom: 0%;
  left: 4%;
}

.circle3 {
  bottom: 0%;
  left: 70%;
}
